In [28]:
#2024/10/20 uc練習16-3  自己要注意的地方dict的key,就是DataFrame的columns(橫欄)
import pandas as pd     
#用list轉成DF
type = [{'飲料':'可樂','價格':30},
        {'飲料':'雪碧','價格':30},
        {'飲料':'水'  ,'價格':10}
        ]

tp = pd.DataFrame(type)
tp

   飲料  價格
0  可樂  30
1  雪碧  30
2   水  10

In [26]:
import pandas as pd
#用dict轉成DF
type = {'飲料': ['可樂','雪碧','水'],
        '價格': [30,30,10]
        }

tp1 = pd.DataFrame(type)
tp1

   飲料  價格
0  可樂  30
1  雪碧  30
2   水  10