In [ ]:
#20_4.ipynb 階層式索引(Level0,Level1)
#方法--堆疊unstack().stack()

In [18]:
#2:41:15~2:50:25
import numpy as np
import pandas as pd

data = pd.Series(np.random.randn(9),
                 index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],
                 [1, 2, 3, 1, 2, 3, 1, 2, 3]]) #階層式索引
data

#索引的a、b、c、d 為Level0 /索引的123為Level1

a  1   -0.600320
   2    0.044113
   3   -1.546933
b  1    0.342833
   2    0.955546
c  3   -2.099360
   1   -0.210376
d  2   -0.900387
   3   -0.487993
dtype: float64

In [19]:
#2:44:03
data['a']

1   -0.600320
2    0.044113
3   -1.546933
dtype: float64

In [20]:
data['b']

1    0.342833
2    0.955546
dtype: float64

In [21]:
#2:44:43
data.unstack()   #解除堆疊資料/結果為DataFrame

          1         2         3
a -0.600320  0.044113 -1.546933
b  0.342833  0.955546       NaN
c -0.210376       NaN -2.099360
d       NaN -0.900387 -0.487993

In [22]:
#~2:50:25
data.unstack().stack()  #再轉回堆疊資料Series

a  1   -0.600320
   2    0.044113
   3   -1.546933
b  1    0.342833
   2    0.955546
c  1   -0.210376
   3   -2.099360
d  2   -0.900387
   3   -0.487993
dtype: float64

In [23]:
#2:55:04 ~最下方程式碼
#四維資料(索引有2列,欄位有2欄),共四個條件   #reshape重組維度(4列,3欄)
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.arange(12).reshape(4,3),
                     index=[['a', 'a', 'b', 'b',],[1, 2, 1, 2]],
                     columns=[['台北','台北','台中'],['Green','Red','Green']])
frame.index.names = ['key1', 'key2']   #設定索引名稱 #3:01:25
frame.columns.names =['縣市', '顏色']   #設定欄位索引名稱
frame

縣市           台北        台中
顏色        Green Red Green
key1 key2
a    1        0   1     2
     2        3   4     5
b    1        6   7     8
     2        9  10    11

In [24]:
#3:01:25
frame.stack(level=['縣市','顏色']).unstack(level=['key1']) #堆疊資料

/tmp/ipykernel_3515/1547090509.py:2: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  frame.stack(level=['縣市','顏色']).unstack(level=['key1']) #堆疊資料

key1             a     b
key2 縣市 顏色
1    台中 Green  2.0   8.0
     台北 Green  0.0   6.0
        Red    1.0   7.0
2    台中 Green  5.0  11.0
     台北 Green  3.0   9.0
        Red    4.0  10.0

In [25]:
#2:55:04~2:59:15 #~3:08:40
frame.stack(level=['縣市','顏色']).unstack(level=['key1','縣市'])
#樞紐分析表

/tmp/ipykernel_3515/180576762.py:2: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  frame.stack(level=['縣市','顏色']).unstack(level=['key1','縣市'])

key1          a          b
縣市           台中   台北    台中    台北
key2 顏色
1    Green  2.0  0.0   8.0   6.0
     Red    NaN  1.0   NaN   7.0
2    Green  5.0  3.0  11.0   9.0
     Red    NaN  4.0   NaN  10.0