In [13]:
#19_1.ipynb課程重點
#Series、DataFrame--sort_index()的應用
#15:10運算子圖表

In [14]:
import pandas as pd
import numpy as np

s1 = pd.Series([7.3, -2.5, 3.4, 1.5],index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4 , 3.1],index=['a', 'c', 'e', 'f', 'g'])
display(s1)
display(s2)
#使用數學運算子的運算
display(s1 +s2)  #如果擺在程式碼最後一行則預設有display,故不用再加  #任何數+NaN=NaN
#使用數學運算子的運算
s1.add(s2,fill_value=0)   #Series的方法add:用來相加 fill_value=0代表值為NaN的,幫我變成0

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

a    5.2
c    1.1
d    3.4
e    0.0
f    4.0
g    3.1
dtype: float64

In [15]:
#18:14 排序和排名
#排序:sort_index 、 sort_index() 有兩個實體方法
#排名:rank()

In [16]:
#sort_index()
s1 =pd.Series(range(4),index=['d','a','b','c'])
display(s1)
display(s1.sort_index())   #依照索引由小到大排序(英文可以排,中文字不行)
display(s1.sort_index(ascending=False))

d    0
a    1
b    2
c    3
dtype: int64

a    1
b    2
c    3
d    0
dtype: int64

d    0
c    3
b    2
a    1
dtype: int64

In [17]:
#DataFrame

In [18]:
frame = pd.DataFrame(np.arange(8).reshape((2,4)),  #reshape改變維度,2列4欄
             index = ['three', 'one'],
             columns=['d', 'a', 'b', 'c']
             )
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [19]:
display(frame)
display(frame.sort_index())      #sort_index()改變索引排序
display(frame.sort_index(axis='columns'))   #sort_index(axis='columns')改變欄位排序 columns可改成1,結果是一樣的
#index的英文(three、one)是看字母"開頭"順序排的

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [20]:
s3 = pd.Series([4, 7, -3, 2])
display(s3)
display(s3.sort_values())
display(s3.sort_values(ascending=False)) #預設ascending=Ture代表數值由小到大,我把它設定=False數值由大到小

0    4
1    7
2   -3
3    2
dtype: int64

2   -3
3    2
0    4
1    7
dtype: int64

1    7
0    4
3    2
2   -3
dtype: int64

In [21]:
#33:30~39:32 #外面dict{[]}裡面是list
frame = pd.DataFrame({'b':[4, 7, -3, 2],
                'a':[0, 1, 0, 1]
                })
display(frame)
display(frame.sort_values(by='b'))  #先排序b數值
display(frame.sort_values(by=['a','b']))  #先排序a數值、再排序b數值

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

   b  a
2 -3  0
3  2  1
0  4  0
1  7  1

   b  a
2 -3  0
0  4  0
3  2  1
1  7  1

In [22]:
#41:00
#rank()排名
obj = pd.Series([7, -5 ,7 ,4 ,2 ,0 ,4])
display(obj)
display(obj.rank(method='average'))  #顯示平均排名,例如下方結果,索引0跟2數值的排名(6+7)/2=6.5
display(obj.rank(method='first'))  # 如有相同2個以上數值,則由索引較前面的,排名也在前
display(obj.rank(method='min'))    #

0    7
1   -5
2    7
3    4
4    2
5    0
6    4
dtype: int64

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

0    6.0
1    1.0
2    6.0
3    4.0
4    3.0
5    2.0
6    4.0
dtype: float64