In [2]:
#19_3統計 #numpy 可做統計、科學運算、微積分

In [3]:
#1:41:50 #1:42:25
import pandas as pd
import numpy as  np

frame =pd.DataFrame(np.random.randn(4,3),
            columns=['b','d','e'],
            index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北  2.085630  0.550414  0.753737
台中  0.154201 -0.042085  1.050527
台南 -0.470360  0.274482  1.553426
高雄 -2.292250  0.427583 -0.642717

In [ ]:
np.abs(frame)   #numpy的統計,不只可以用在ndarray,可以Series、Dataframe

           b         d         e
台北  2.085630  0.550414  0.753737
台中  0.154201  0.042085  1.050527
台南  0.470360  0.274482  1.553426
高雄  2.292250  0.427583  0.642717

In [4]:
#1:45:10觀念講解

In [ ]:
#使用numpy做統計的動作
display(np.mean(frame,axis=0))    #直的做平均
display(np.mean(frame,axis=1))    #橫的做平均

b   -0.130695
d    0.302599
e    0.678743
dtype: float64

台北    1.129927
台中    0.387548
台南    0.452516
高雄   -0.835795
dtype: float64