In [ ]:
#49:09
#複製17_6
import pandas as pd
df = pd.read_csv('學生成績.csv')  #讀進csv
df.index = df['學號']     #取學號欄的內容,覆蓋原本的索引
df1 = df.drop(columns='學號')  #移除學號欄
df1

In [ ]:
#53:39
df1['排名'] = df1['平均'].rank(method='min',ascending=False) #ascending=True表示升階,=False表示降階
df2 = df1.sort_values(by='平均',ascending=False)

In [ ]:
df2

In [ ]:
#1:03:40  #抓前十名
df2.iloc[:10]
#忘記iloc用法可以到17_4複習

     姓名  國文  英文   數學   地理   歷史   總分    平均    排名
學號
30  林向鈺  89  92   83   88  100  452  90.4   1.0
33  趙宛真  90  86   91   95   85  447  89.4   2.0
44  鍾俞禎  88  83  100  100   71  442  88.4   3.0
40  杜明延  95  86   77   86   94  438  87.6   4.0
7   黃詩妃  69  98   93   83   86  429  85.8   5.0
19  陳俊憲  97  98   87   52   88  422  84.4   6.0
1   黃心航  85  65   94   99   76  419  83.8   7.0
27  余宗儒  97  51   75  100   95  418  83.6   8.0
36  李政成  98  98   85   53   77  411  82.2   9.0
16  楊易政  91  89   82   90   57  409  81.8  10.0

In [ ]:
df2[-10:] #排名倒數10位

     姓名  國文  英文  數學  地理  歷史   總分    平均    排名
學號
43  葉祖雄  91  53  56  85  58  343  68.6  41.0
32  黃奎紹  76  51  56  86  70  339  67.8  42.0
18  朱彥志  66  80  59  62  67  334  66.8  43.0
25  潘俊賢  65  69  67  54  78  333  66.6  44.0
12  陳淑娟  50  74  51  70  87  332  66.4  45.0
39  杜儀鳳  71  58  82  56  54  321  64.2  46.0
31  游一鈺  60  93  50  50  63  316  63.2  47.0
47  蔡嘉音  57  66  63  66  62  314  62.8  48.0
21  溫重意  57  61  57  55  78  308  61.6  49.0
10  翁鈺婷  60  69  59  61  50  299  59.8  50.0

In [29]:
df2.head(n=10)

     姓名  國文  英文   數學   地理   歷史   總分    平均    排名
學號
30  林向鈺  89  92   83   88  100  452  90.4   1.0
33  趙宛真  90  86   91   95   85  447  89.4   2.0
44  鍾俞禎  88  83  100  100   71  442  88.4   3.0
40  杜明延  95  86   77   86   94  438  87.6   4.0
7   黃詩妃  69  98   93   83   86  429  85.8   5.0
19  陳俊憲  97  98   87   52   88  422  84.4   6.0
1   黃心航  85  65   94   99   76  419  83.8   7.0
27  余宗儒  97  51   75  100   95  418  83.6   8.0
36  李政成  98  98   85   53   77  411  82.2   9.0
16  楊易政  91  89   82   90   57  409  81.8  10.0