In [12]:
#DataFrame的索引編號or 欄位 的呼叫

In [ ]:
import pandas as pd
df = pd.read_csv('學生成績.csv')
df

In [ ]:
df[['姓名','國文', '英文', '數學']]  #用欄(橫)去做呼,裡面需要list[]

In [ ]:
#iloc[] 烈欄用索引編號(數字)呼叫
#loc[] 索引可以是是文字/字串要用loc

df.iloc[0]   #筆記:會傳出索引編號0,所有的內容

In [35]:
df.iloc[[0,3,5]]     #筆記:指定索引編號呼叫,裡面一定要再加list[]呼叫

   學號   姓名  國文  英文  數學  地理  歷史   總分    平均
0   1  黃心航  85  65  94  99  76  419  83.8
3   4  林淑安  97  54  57  75  61  344  68.8
5   6  黃柏宇  68  86  76  79  66  375  75.0

In [ ]:
df.iloc[0:6]  #0~5 共6筆, 不包含索引編號6的資料

In [36]:
#同時要欄和列
#loc[],iloc[]
df.iloc[:5,[0,1,3]]  #注意:用索引名編號叫出的,:5就是到0~4,跟loc不一樣

   學號   姓名  英文
0   1  黃心航  65
1   2  黃翔杰  98
2   3  李淑芳  64
3   4  林淑安  54
4   5  張婕妤  58

In [37]:
df.loc[:5,["學號","姓名","地理"]]   #注意:用索引名稱叫出的,:5就是到0~5

   學號   姓名  地理
0   1  黃心航  99
1   2  黃翔杰  75
2   3  李淑芳  78
3   4  林淑安  75
4   5  張婕妤  98
5   6  黃柏宇  79