In [ ]:
#到老師的github下載world.csv

In [ ]:
import pandas as pd

df = pd.read_csv('world.csv')   #讀取csv檔
all_DataFrame = df[['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數']]    #UC小筆記:df忘記為甚麼這樣呼叫，可以去看17_4
taiwan = all_DataFrame[all_DataFrame["國家"] == "台灣"]  #篩選出國家=台灣的資料  UC小筆記:df忘記為甚麼是這樣篩選，可以去看17_6
taiwan  #傳出新的DataFrame

In [ ]:
#新增確診數>5萬人
taiwan[taiwan["新增確診數"] >=50000]

In [ ]:
#取出最多新增確診數
#taiwan["新增確診數"]  ←是Series 不只可以做運算,還可以統計
max =taiwan["新增確診數"].max()     #用函數用找出最大值
taiwan[taiwan['新增確診數'] == max]  #顯示新增確診數=最大值的是哪一筆

In [37]:
#query() ←是一種搜尋方法
japan = all_DataFrame.query('國家=="日本"')  #注意:1.query()裡面只能放字串 2.外面誒用單引號''裡面只能用雙引號""
japan

       洲名  國家          日期     總確診數  新增確診數       總人口數     解封指數
85626  亞洲  日本  2020-01-22        2      0  126050796  99999.0
85627  亞洲  日本  2020-01-23        2      0  126050796  99999.0
85628  亞洲  日本  2020-01-24        2      0  126050796  99999.0
85629  亞洲  日本  2020-01-25        2      0  126050796  99999.0
85630  亞洲  日本  2020-01-26        4      2  126050796  99999.0
...    ..  ..         ...      ...    ...        ...      ...
86518  亞洲  日本  2022-07-02  9364954  24875  126050796  99999.0
86519  亞洲  日本  2022-07-03  9388222  23268  126050796  99999.0
86520  亞洲  日本  2022-07-04  9405007  16785  126050796  99999.0
86521  亞洲  日本  2022-07-05  9441171  36164  126050796  99999.0
86522  亞洲  日本  2022-07-06  9486965  45794  126050796  99999.0

[897 rows x 7 columns]

In [38]:
max =japan["新增確診數"].max()     #用函數用找出最大值
japan[japan['新增確診數'] == max]

       洲名  國家          日期     總確診數   新增確診數       總人口數     解封指數
86369  亞洲  日本  2022-02-03  3019169  104345  126050796  99999.0