In [ ]:
#2ç¶­list
students = [[79, 92, 68, 75, 65],
            [78, 95, 68, 72, 65],
            [72, 91, 69, 71, 62]]
students[0] , students[1] , students[2]