In [2]:
#19_3統計 #numpy 可做統計、科學運算、微積分

In [3]:
#1:41:50 #1:42:25
import pandas as pd
import numpy as  np

frame =pd.DataFrame(np.random.randn(4,3),
            columns=['b','d','e'],
            index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北  1.368484 -0.705263 -2.572539
台中  0.322618 -0.462837  0.492674
台南 -0.306734 -0.244421 -0.699240
高雄  0.197438  1.153293  1.051451

In [4]:
np.abs(frame)   #numpy的統計,不只可以用在ndarray,可以Series、Dataframe

           b         d         e
台北  1.368484  0.705263  2.572539
台中  0.322618  0.462837  0.492674
台南  0.306734  0.244421  0.699240
高雄  0.197438  1.153293  1.051451

In [5]:
#1:45:10觀念講解

In [6]:
#使用numpy做統計的動作
display(np.mean(frame,axis=0))    #直的做平均
display(np.mean(frame,axis=1))    #橫的做平均

b    0.395451
d   -0.064807
e   -0.431914
dtype: float64

台北   -0.636439
台中    0.117485
台南   -0.416798
高雄    0.800728
dtype: float64

In [7]:
#1:55:34
#dataFrame.mean()
display(frame.mean())
display(frame.mean(axis=1))

b    0.395451
d   -0.064807
e   -0.431914
dtype: float64

台北   -0.636439
台中    0.117485
台南   -0.416798
高雄    0.800728
dtype: float64

In [ ]:
#Series.mean()
frame.loc['台北'].mean()

np.float64(-0.6364394971046797)

In [ ]:
#np.mean(Series)
np.mean(frame.loc['台北']) #結果同上

np.float64(-0.6364394971046797)