In [2]:
# 15-4課堂: pandas模組 / API reference / 資料類型:Serious DataFrame
#pandas.Serious   Serious是class

In [3]:
# https://pandas.pydata.org/docs/reference/index.html

In [4]:
import numpy as np

student = np.array([67, 78, 92, 74, 65])
student[0]
student[4]

np.int64(65)

In [5]:
import pandas as pd
#筆記:原生索引 [0,  1,   2,  3,  4]
s1 =pd.Series([67, 78, 92, 74, 65],index=['國文', '英文', '數學', '地理', '歷史',])  #新增key索引
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [6]:
s1 + 3   #承上，直接把每個數字加3

國文    70
英文    81
數學    95
地理    77
歷史    68
dtype: int64

In [7]:
s1['國文'] #使用key-index
s1[0]  #使用原生-index

/tmp/ipykernel_631/2433701864.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[0]  #使用原生-index

np.int64(67)

In [8]:
for i in s1:
    print(i)

67
78
92
74
65

In [9]:
#numpy的統計,可以套用在pandas
s1

國文    67
英文    78
數學    92
地理    74
歷史    65
dtype: int64

In [10]:
#利用numpy的function做統計
np.sum(s1)

np.int64(376)

In [11]:
np.mean(s1) #平均數

np.float64(75.2)

In [12]:
np.std(s1) #標準差

np.float64(9.620810776644555)

In [13]:
np.median(s1)  #中位數

np.float64(74.0)

In [14]:
import pandas as pd
pd.DataFrame({
    "徐國堂":[78 , 92, 76, 91, 72],  #裡面是dictionary資料結構
    "王XX":[72 , 81, 92, 94, 69],
    "張XX":[81 , 65, 89, 81, 72],
},index=['國文', '英文', '數學', '地理', '歷史'])

    徐國堂  王XX  張XX
國文   78   72   81
英文   92   81   65
數學   76   92   89
地理   91   94   81
歷史   72   69   72

In [16]:
import numpy as np
import pandas as pd

data = np.random.randint(60,high=100,size=(50,5))
pd.DataFrame(data,
             index = range(1,51),
             columns=['國文', '英文', '數學', '地理', '歷史']
             )

    國文  英文  數學  地理  歷史
1   69  86  79  73  95
2   65  92  86  85  67
3   84  63  93  86  85
4   72  99  65  77  61
5   98  79  96  88  99
6   77  85  83  86  77
7   64  68  73  96  75
8   86  67  94  66  94
9   74  84  82  74  85
10  61  74  94  78  88
11  66  74  75  70  74
12  80  68  95  89  74
13  94  70  60  91  66
14  61  71  74  84  75
15  94  78  73  72  88
16  95  60  94  95  72
17  93  77  64  87  62
18  65  77  71  69  99
19  86  79  93  87  60
20  70  61  70  89  87
21  60  88  94  67  76
22  73  82  62  61  70
23  79  93  87  73  61
24  99  87  63  62  98
25  62  81  88  98  68
26  89  90  65  97  87
27  82  69  91  98  71
28  92  85  92  96  78
29  64  68  84  64  77
30  84  93  62  76  73
31  83  62  82  82  65
32  67  95  61  70  94
33  80  73  83  83  62
34  84  73  67  86  68
35  84  87  60  83  68
36  72  75  77  92  78
37  66  69  96  67  62
38  94  71  91  71  69
39  61  86  78  72  83
40  64  85  97  61  68
41  66  94  66  97  65
42  73  66  86  98  83
43  67  99  76  72  80
44  77  93  75  98  60
45  71  80  99  73  77
46  75  79  88  90  89
47  95  98  96  90  63
48  65  85  97  97  89
49  93  72  87  69  96
50  70  79  99  80  66