In [ ]:
#19_3統計 #numpy 可做統計、科學運算、微積分

In [10]:
#1:41:50 #1:42:25
import pandas as pd
import numpy as  np

frame =pd.DataFrame(np.random.randn(4,3),
            columns=['b','d','e'],
            index=['台北','台中','台南','高雄'])
frame

           b         d         e
台北 -0.092246  1.381878  1.057805
台中 -0.216921  0.903465 -1.964405
台南 -1.105688 -1.224554  0.010669
高雄 -0.201999 -0.029327 -0.728608

In [ ]:
#1:45:10觀念講解