In [22]:
#使用List建立Series
import pandas as pd

s1 =pd.Series([4, 7, -5, 3])
s1

0    4
1    7
2   -5
3    3
dtype: int64

In [23]:
#使用index, value
s1.index         #UC筆記:索引編號為0~4，不包含4，每次遞增1

RangeIndex(start=0, stop=4, step=1)

In [24]:
s1.values   #values是屬性,後面沒有括號

array([ 4,  7, -5,  3])

In [25]:
#自訂Series的index

s2 = pd.Series([4, 7, -5, 3],index=['d', 'b', 'a','c'])
s2

d    4
b    7
a   -5
c    3
dtype: int64

In [26]:
s2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [27]:
s2.values

array([ 4,  7, -5,  3])

In [28]:
display(s2)
print("==========")
display(s2['a'])       #取a的值
s2['a'] = 5            #把a的值,改成5
print("==========")
display(s2)            
print("==========")
s2[["c", "b", "d"]]    #取c,b,d的值,會傳出全新的Series

d    4
b    7
a   -5
c    3
dtype: int64

==========

np.int64(-5)

==========

d    4
b    7
a    5
c    3
dtype: int64

==========

c    3
b    7
d    4
dtype: int64

In [29]:
import numpy as np
display(s2)
print("==========")
display(s2 * 2)
np.exp(s2)

d    4
b    7
a    5
c    3
dtype: int64

==========

d     8
b    14
a    10
c     6
dtype: int64

d      54.598150
b    1096.633158
a     148.413159
c      20.085537
dtype: float64

In [30]:
#檢查是否有這個key可用 "key" in mapping 語法,會回傳布林值
#mapping就是dict，有key和value的東西
'e' in s2, 'a' in s2

(False, True)

In [31]:
#dicrionary 建立Series
sdata = {'國文':78,'英文':86,'數學':96,'地理':64,'歷史':92}
s3 = pd.Series(sdata,index=['國文','數學','英文'])  #篩選國文、數學、英文出來
s3

國文    78
數學    96
英文    86
dtype: int64

In [32]:
# NaN就代表這個欄位沒有資料
s4 = pd.Series(sdata,index=['國文','數學','探索'])
s4

國文    78.0
數學    96.0
探索     NaN
dtype: float64

In [33]:
#檢查哪個key是NaN,會回傳bool
pd.isnull(s4)

國文    False
數學    False
探索     True
dtype: bool

In [34]:
#使用pandas.notnull   #notnull是fucction
#檢查不是null的有哪些
pd.notnull(s4)

國文     True
數學     True
探索    False
dtype: bool

In [35]:
#Series實體方法()
#檢查是null的有哪些
s4.isnull()

國文    False
數學    False
探索     True
dtype: bool

In [36]:
#Series實體方法()
#檢查不是null的有哪些
s4.notnull()

國文     True
數學     True
探索    False
dtype: bool

In [37]:
#0:48:45
sdata = {'台北':35000, '桃園':71000,'桃園':16000, '高雄':5000}  #2022資料
S5 = pd.Series(sdata)
display(S5)

sdata = {'台北':25000, '桃園':66000,'桃園':17000, '高雄':15000}  #2023資料
s6 = pd.Series(sdata)
display(s6)

台北    35000
桃園    16000
高雄     5000
dtype: int64

台北    25000
桃園    17000
高雄    15000
dtype: int64