In [3]:
import pandas as pd
#筆記:dict裡面有list{[]}dict為主 
data = {'字串':['台北','台中'],
        '整數':[1000, 3000],
        '浮點數':[3.258, 7.396]}

df =pd.DataFrame(data)   #dict轉成df
display(df)

   字串    整數    浮點數
0  台北  1000  3.258
1  台中  3000  7.396

In [4]:
#視覺美化資料表       #筆記-precision精準度:顯示小數點後面幾位, thousands千的符號類型, decimal小數點類型
#pip install jinja2   #一行程式太長,可用反斜線\代表銜接前一行
df.style\
.format(precision=2,thousands=',',decimal='.')\
.relabel_index(["列1","列2"])   #索引標籤名稱

In [5]:
import numpy as np
data = np.random.rand(10,2) * 5      #模組.模組.函數,產生列10,欄2個 ndArray可以運算 *5
df = pd.DataFrame(data,
                  index = pd.date_range(start='2023-09-01',periods=10),
                  columns=['台北','台中'])   
#把第2行的Ndarray轉成DF資料類型, 
#date_range(start='2023-09-01',自訂一個虛擬日期"  periods=10表示建立一天一天連續10個
df

                  台北        台中
2023-09-01  1.467895  0.344075
2023-09-02  2.179375  4.620149
2023-09-03  1.717778  4.439126
2023-09-04  2.435735  4.100899
2023-09-05  4.717262  2.422952
2023-09-06  2.726155  1.383709
2023-09-07  0.343411  4.510893
2023-09-08  4.254208  2.354636
2023-09-09  4.141945  3.444455
2023-09-10  4.803755  2.012077

In [6]:
#視覺美化資料表
def feel_codition(v):
    if v < 1.75:
        return "溫暖"
    elif v < 2.75:
        return "潮濕"
    else:
        return "日照"
df.style\
.format(feel_codition)\
.set_caption("體感溫度")\
.background_gradient(cmap="PuBuGn",vmin=1,vmax=5,axis=0)
#格式
#設定codition標題
#背景_漸層(顏色,最小數值,最大數值,軸)

In [7]:
#隱藏資料   #axis軸=0代表索引 / axis=1橫代表列
df = pd.DataFrame(np.random.randn(5,5))   #產生5*5的
df.style\
.hide(subset=[0,2,4],axis=0)\
.hide(subset=[1,3],axis=1)

In [9]:
#產生10欄,4列 列名稱=
df = pd.DataFrame(np.random.randn(10,4),
                  columns=["A", "B", "C", "D"])
display(df)

def style_negative(v, props=''):     #自訂義函數
    return props if v < 0 else None

df.style\
.map(style_negative,props='color:red;')    #讓字體變紅色

          A         B         C         D
0  2.311686  1.925649 -1.996310 -0.836488
1  0.402257  0.528180 -0.698095 -0.702145
2 -0.494361  2.047911 -0.397925  0.128143
3 -1.252833  0.394380  1.061967  0.219911
4  0.170182 -0.349955  0.209157 -0.794512
5  0.276470  0.313003 -0.538755 -0.581914
6  1.160390 -0.936156 -1.132608  0.611856
7  0.039455 -0.739913 -0.877801 -0.132458
8  1.418666  0.377645  1.384402 -1.447783
9  0.312108 -2.296527  0.077238 -0.766307