In [2]:
import pandas as pd
#筆記:dict裡面有list{[]}dict為主 
data = {'字串':['台北','台中'],
        '整數':[1000, 3000],
        '浮點數':[3.258, 7.396]}

df =pd.DataFrame(data)   #dict轉成df
display(df)

   字串    整數    浮點數
0  台北  1000  3.258
1  台中  3000  7.396

In [3]:
#視覺美化資料表       #筆記-precision精準度:顯示小數點後面幾位, thousands千的符號類型, decimal小數點類型
#pip install jinja2   #一行程式太長,可用反斜線\代表銜接前一行
df.style\
.format(precision=2,thousands=',',decimal='.')\
.relabel_index(["列1","列2"])   #索引標籤名稱

In [4]:
import numpy as np
data = np.random.rand(10,2) * 5      #模組.模組.函數,產生列10,欄2個 ndArray可以運算 *5
df = pd.DataFrame(data,
                  index = pd.date_range(start='2023-09-01',periods=10),
                  columns=['台北','台中'])   
#把第2行的Ndarray轉成DF資料類型, 
#date_range(start='2023-09-01',自訂一個虛擬日期"  periods=10表示建立一天一天連續10個
df

                  台北        台中
2023-09-01  3.881598  2.413661
2023-09-02  2.281057  1.995883
2023-09-03  3.200530  3.608910
2023-09-04  3.508941  0.837828
2023-09-05  1.636041  0.051256
2023-09-06  3.220598  3.974208
2023-09-07  4.049200  0.543947
2023-09-08  3.220286  3.123637
2023-09-09  1.339993  4.536267
2023-09-10  1.622787  2.534677

In [9]:
#視覺美化資料表
def feel_codition(v):
    if v < 1.75:
        return "溫暖"
    elif v < 2.75:
        return "潮濕"
    else:
        return "日照"
df.style\
.format(feel_codition)\
.set_caption("體感溫度")\
.background_gradient(cmap="PuBuGn",vmin=1,vmax=5,axis=0)
#格式
#設定codition標題
#背景_漸層(顏色,最小數值,最大數值,軸)