In [7]:
import pandas as pd
#筆記:dict裡面有list{[]}dict為主 
data = {'字串':['台北','台中'],
        '整數':[1000, 3000],
        '浮點數':[3.258, 7.396]}

df =pd.DataFrame(data)   #dict轉成df
display(df)

   字串    整數    浮點數
0  台北  1000  3.258
1  台中  3000  7.396

In [8]:
#視覺美化資料表       #筆記-precision精準度:顯示小數點後面幾位, thousands千的符號類型, decimal小數點類型
#pip install jinja2   #一行程式太長,可用反斜線\代表銜接前一行
df.style\
.format(precision=2,thousands=',',decimal='.')\
.relabel_index(["列1","列2"])   #索引標籤名稱

In [16]:
import numpy as np
data = np.random.rand(10,2) * 5      #模組.模組.函數,產生列10,欄2個 ndArray可以運算 *5
df = pd.DataFrame(data,
                  index = pd.date_range(start='2023-09-01',periods=10),
                  columns=['台北','台中'])   
#把第2行的Ndarray轉成DF資料類型, 
#date_range(start='2023-09-01',自訂一個虛擬日期"  periods=10表示建立一天一天連續10個
df

                  台北        台中
2023-09-01  2.319929  3.837324
2023-09-02  2.463102  2.340720
2023-09-03  1.250395  1.555739
2023-09-04  1.824960  1.445457
2023-09-05  3.746593  4.116622
2023-09-06  4.989129  2.672094
2023-09-07  4.995939  0.539081
2023-09-08  1.804560  0.799388
2023-09-09  2.577594  1.504575
2023-09-10  1.450378  2.973903